//colors
$color-primary: #fff021;
$color-secondary: #ee3026;

$color-black: #000;
$color-white: #fff;

$transparent-black: rgba(20, 20, 20, 0.596);
$mild-color: #e55743;

//font
$default-font-size: 1.6rem;