.img-help {
    padding: 0.5rem;

    img {
        height: 420px;
        width: 320px;
    }
}

.promo-contain {
    width: auto;
    height: auto;
    box-shadow: 1px 2px 5px $transparent-black, -1px 2px 5px $transparent-black;
}

// .img-promo {
//     max-height: 40%;
//     max-width: 50%;

// }
