.nav-color {
    background: $color-white;
    color: $transparent-black;
    box-shadow: 0 4px 10px $transparent-black;
    width: 100%;
    position: fixed;
    font-size: $default-font-size;
    z-index: 10;

    @include respond(phone) {
        font-size: 18px;

        img {
            height: 40;
        }
    }
}
.bline {
    transition: transform 1s ease;
    cursor: pointer;
    font-weight: 500;

    :hover {
        transform: scale(1.2);
    }

    :active {
        color: $mild-color !important;
    }

    @include respond(phone) {
        border-bottom: 1px double white;
    }
}
