.cars {
    height: 50% !important;
    width: 70% !important;
    object-fit: cover !important;

    img {
        height: 400px;

        @include respond(phone) {
            height: 240px;
            width: 100%;
        }
    }

}

.home_text {
    display: flex;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content:center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3em;

    @include respond(phone) {
        font-size: 100%;
    }
}
