.menu {
    background-color: rgba(0, 0, 0, 0.048);
    border: 1px solid $color-primary;
    margin-left: 4rem;
    width: 290px;
    margin-top: 3rem;
    border-radius: 30% 30% 0 0;
    box-shadow: 4px 4px 10px $transparent-black;

    @include respond(phone) {
        margin-left: 0;
    }

    &_bod {
        @include respond(phone) {
            width: auto;
            display: flex;
            justify-content: center;
            padding: 20px;
        }
    }


    &_img {
        height: 30vh;
        width: 100%;
        border-radius: 30% 30% 0 0;

        @include respond(phone) {
            height: 200px;
        }
    }
    
    &_det {
        margin-right: 2%;
        padding: 1em;
        background-color: $color-white;

        @include respond(phone) {
            padding: 0.6em;
            background-color: $color-white;
            margin-right: 0;
        }
    }

    &_name {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 200;
        font-size: 1.5em;

        @include respond(phone) {
            font-size: 1.2em;
        }
    }

    &_price {
        font-size: 1.5em;

        &_curr {
            color: rgb(41, 148, 41);
        }

        @include respond(phone) {
            font-size: 1em;
        }
    }

    &_desc {
        border: 1px double rgba(255, 0, 0, 0.308);
    }

    &_button {
        margin-right: 2%;
        padding: 1em;

        &_sh {

            :hover {
                background-color: green;
                color: $color-white;
            }
        }

        &_show {
            padding: 0.5em 5em;
            background-color: transparent;
            color: green;
            border: 1px solid green;

            @include respond(phone) {
                padding: 1% 2em;
                white-space: nowrap;
            }
        }

        &_re {

            :hover {
                background-color: $color-secondary;
                color: $color-white;
            }
        }

        &_rem {
            padding: 0.5em 5em;
            background-color: transparent;
            color: $color-secondary;
            border: 1px solid $color-secondary;

            @include respond(phone) {
                padding: 1% 2em;
                white-space: nowrap;
            }
        }

        &_hi {

            :hover {
                background-color: $color-primary;
                color: $color-white;
            }

            @include respond(phone) {
                font-size: 0.8em;
                padding: 1em;
            }
        }

        &_hide {
            padding: 0.5em 5em;
            background-color: transparent;
            border: 1px solid $color-primary;

            a {
                text-decoration: none;
                color: $color-primary;
            }

            @include respond(phone) {
                padding: 0.5em 3em;
            }

        }
    }

}

